.carousel {
  margin-top: $unit;
}

.carousel-caption {
  background-color: $dark-grey-modal;
}

.carousel-item-link {
  p {
    text-decoration: underline;
  }
}

.carousel-control-button {
  height: 30px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $dark-grey-modal;
}
