/**
  * Colors
  * ------
  * Colors created from logo, except neutrals.
  **/

//   https://color.adobe.com/create/color-wheel/?base=0&rule=Custom&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.9607843137254902,0.6627450980392157,0.7215686274509804,0.2151093779936311,0.3467787093158362,0.7107843137254902,0.2584146135076401,0.43623401764455305,0.6784313725490196,0.21078431372549022,0.1453981592637055,0.15830332132852204,0.4588235294117647,0.1803921568627451,0.23529411764705882&swatchOrder=0,1,2,3,4

$pink: #f5a9b8;
$pink-transp: rgba(245, 169, 184, 0.7);
$wine: #752e3c;
$blue: #3758b5;
$green: #377542;
$blue-modal: rgba(55, 88, 181, 0.7);
$green-modal: rgba(19, 151, 0, 0.7);
$lighter-blue: #426fad;
$black: #000000;
$white: #fff;
$off-white: #ddd;
$mid-grey: rgba(255, 255, 255, 0.5);
$dark-black: #333333;
$darker-black: #222222;
$dark-grey: #424242;
$grey: #777777;
$light-grey: #bbb;
$less-dark: rgba(52, 58, 64, 0.95);

/* For alerts */
$red: #dc3545;

/**
    * Measurements
    * ------------
    * Create a base unit in px. This will be the rem unit in pixels.
    * All other measurements must use ems or rems, or be based of another measurement.
    */

$unit: 16px !default;
$unit-major: 7.5rem !default;
$unit-minor: 0.3125rem !default;

$icon-mega: 6rem !default;
$icon-huge: 3rem !default;
$icon-normal: 1rem !default;

$height-nav: $unit-major * 0.5 !default;
$height-headerSmall: $unit-major * 0.4 !default;

$height-footer: 220px;
$height-short-content: calc(100vh - 3.75rem - 176px);

$height-img: 12rem;
$height-img-small: $height-img / 2;
$height-img-lg: $height-img * 1.5;

$width-panel: 15rem !default;
$width-toggle: $height-headerSmall / 1.5 !default;

$size-icon: 1rem !default;
$offset: $unit-minor * 4 !default;
$border-radius: $offset / 4 !default;

$fontFamily-body: Avenir-Next;
$fontFamily-title: Avenir-Next;

/**
    * Define font sizes by rems.
    */

$fontSize-mega: 3.1rem !default;
$fontSize-largest: 2.5rem !default;
$fontSize-md-largest: 1.8rem !default;
$fontSize-md-larger: 1.5rem !default;
$fontSize-larger: 1.33rem !default;
$fontSize-md-large: 1.2rem !default;
$fontSize-large: 1rem !default;
$fontSize-normal: 0.9rem !default;
$fontSize-small: 0.833rem !default;
$fontSize-smaller: 0.75rem !default;
$fontSize-smallest: 0.6rem !default;

/**
    * Define some font weights that work for your fonts.
    */

$fontWeight-boldest: 900 !default;
$fontWeight-bolder: 700 !default; // medium for Archer, same as bold
$fontWeight-bold: 500 !default; // medium
$fontWeight-normal: 400 !default; // book, same as normal
$fontWeight-light: 300 !default; // light
$fontWeight-lighter: 200 !default; // extra light

/**
    * Miscellaneous
    * -------------
    * Any other properties you want to set as a variable.
    */

$opacity: 0.9 !default;
$animation: 0.4s ease-out !default;
$animation-long: 0.8s ease !default;
$border: 1px solid !default;
$border-thicker: 2px solid !default;
$border-radius: 4px;
$text-indent: 1rem;
