//   https://color.adobe.com/create/color-wheel/?base=0&rule=Custom&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.9607843137254902,0.6627450980392157,0.7215686274509804,0.2151093779936311,0.3467787093158362,0.7107843137254902,0.2584146135076401,0.43623401764455305,0.6784313725490196,0.21078431372549022,0.1453981592637055,0.15830332132852204,0.4588235294117647,0.1803921568627451,0.23529411764705882&swatchOrder=0,1,2,3,4

$pink: #f5a9b8;
$pink-transp: rgba(245, 169, 184, 0.7);
$pink-very-transp: rgba(245, 169, 184, 0.3);
$wine: #752e3c;
$blue: #3758b5;
$green: #377542;
$blue-modal: rgba(55, 88, 181, 0.7);
$green-modal: rgba(19, 151, 0, 0.7);
$dark-grey-modal: rgba(0, 0, 0, 0.4);
$lighter-blue: #426fad;

// This is way too many monotones
$white: #fff;
$off-white: #ddd;
$light-grey: #bbb;
$mid-grey: rgba(255, 255, 255, 0.5);
$dark-grey: #424242;
$grey: #777777;
$less-light: #999;
$less-dark: rgba(52, 58, 64, 0.95);
$dark-black: #333333;
$darker-black: #222222;
$black: #000000;

$unit: 16px !default;
$unit-major: 7.5rem !default;
$unit-minor: 0.3125rem !default;

$fontSize-mega: 3.1rem !default;
$fontSize-XXXL: 2.5rem !default;
$fontSize-XXL: 1.8rem !default;
$fontSize-XL: 1.5rem !default;
$fontSize-LLL: 1.33rem !default;
$fontSize-MLL: 1.2rem !default;
$fontSize-MML: 1rem !default;
$fontSize-MMM: 0.9rem !default;
$fontSize-MMS: 0.833rem !default;
$fontSize-MSS: 0.75rem !default;
$fontSize-SSS: 0.6rem !default;
