@import "./avenir.css";
@import "./fontello.css";
@import "./variables";
@import "./about";
@import "./navbar";

p {
  color: $blue;
}

body {
  font-family: Avenir Next;
  background-color: pink;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}
